@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0; 
    font-family: "Montserrat", sans-serif;
}

a {
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    position: sticky;
    top: 0;
}

.logo {
    color: #111;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
}

header .logo span {
    color: #ff0157;
}

header .navigation {
    display: flex;
    list-style: none;
    gap: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #111;
    font-weight: 400px;
    font-size: 1.5rem;
}

.banner {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url(https://i.postimg.cc/s29LNR86/bg.jpg);
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
    color: white;
}

.banner .content h2 {
    font-size: 5rem;
}

.banner .content p {
    font-size: 1rem;
}

.banner .btn  {
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    background-color: #ff0157;
    padding: 10px 30px;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #ff0157;
}

.banner .btn:hover {
    box-shadow: inset 2px 4px 8px #00000055;
    border: 2px solid #ff0157;
}

.about {
    padding: 80px;
}

.about .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 3rem;
}

.about .row .col50 {
    width: 50%;
}

.about .row .col50 .imgBx img {
    width: 100%;
    object-fit: cover;
}

.titleText {
    color: #111;
    font-size: 2rem;
    font-weight: 500;
}

.titleText span {
    color: #ff0157;
    font-weight: 700;
    font-size: 3rem;
}