@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0; 
    font-family: "Montserrat", sans-serif;
}

a {
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    position: sticky;
    top: 0;
}

.logo {
    color: #111;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
}

header .logo span {
    color: #ff0157;
}

header .navigation {
    display: flex;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
}

header .navigation li a {
    text-decoration: none;
    color: #111;
    font-weight: 400px;
    font-size: 1.5rem;
}

.banner {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url(https://i.postimg.cc/s29LNR86/bg.jpg);
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
    color: white;
}

.banner .content h2 {
    font-size: 5rem;
}

.banner .content p {
    font-size: 1rem;
}

.btn  {
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    background-color: #ff0157;
    padding: 10px 30px;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #ff0157;
}

.btn:hover {
    box-shadow: inset 2px 4px 8px #00000055;
    border: 2px solid #ff0157;
}

.about {
    padding: 80px;
}

.about .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 3rem;
}

.about .row .col50 {
    width: 50%;
}

.about .row .col50 .imgBx img {
    width: 100%;
    object-fit: cover;
}

.titleText {
    color: #111;
    font-size: 2rem;
    font-weight: 500;
}

.titleText span {
    color: #ff0157;
    font-weight: 700;
    font-size: 3rem;
}

.menu {
    padding: 80px;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem;
}

.box {
    width: 300px;
    box-shadow: rgba(1, 0, 18, 0.429) 0px 0px 28px;
    overflow: hidden;
    padding: 1rem;
}

.imgBx {
    width: 100%;
    height: 300px;
}

.imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    text-align: center;
    padding: 15px 0 5px 0px;
}

.experts {
    padding: 80px;
}

.testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://images.pexels.com/photos/8738013/pexels-photo-8738013.jpeg?_gl=1*1livp2o*_ga*OTEyMDA2NjMwLjE3NzIxMjg4MzA.*_ga_8JE65Q40S6*czE3NzI1OTE3MTAkbzQkZzEkdDE3NzI1OTE5ODgkajQyJGwwJGgw);
    background-size: cover;
}

.white {
    color: white;
}

.testimonials .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 50px 0;
    max-width: 100%;
}

.testimonials .content .box {
    width: 250px;
    background-color: white;
    padding: 40px;
    color: #111;
}

.testimonials .content .box .imgBx img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text h2 {
    color: #ff0157;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 20px;
}

.text p {
    color: #111;
    font-style: italic;
}

.testimonials .content .box .imgBx {
    width: 100%;
    height: 300px;
}


@media screen and (max-width: 1020px) {
    header {
        flex-direction: column;
    }
}